apiVersion: v1
kind: ConfigMap
metadata:
    name: {{ include "pgdog.fullname" . }}
data:
    # This is pgdog.toml. You can configure anything here, incl. databases.
    # Note: don't change the port value, since it's pulled from Values.
    pgdog.toml: |
        [general]
        port                      =   {{ .Values.port }}
        workers                   =   {{ .Values.workers | default "2" }}
        default_pool_size         =   {{ .Values.defaultPoolSize | default "10" }}
        {{- if hasKey .Values "minPoolSize" }}
        min_pool_size             =   {{ .Values.minPoolSize }}
        {{- end }}
        pooler_mode               =   {{ .Values.poolerMode | default "transaction" | quote }}
        {{- if .Values.healthcheckPort }}
        healthcheck_port          =   {{ .Values.healthcheckPort }}
        {{- end }}
        healthcheck_interval      =   {{ .Values.healthcheckInterval | default "30_000" }}
        idle_healthcheck_interval =   {{ .Values.idleHealthcheckInterval | default "30_000" }}
        idle_healthcheck_delay    =   {{ .Values.idleHealthcheckDelay | default "5_000" }}
        healthcheck_timeout       =   {{ .Values.healthcheckTimeout | default "5_000" }}
        {{- if hasKey .Values "banTimeout" }}
        ban_timeout               =   {{ .Values.banTimeout }}
        {{- end }}
        rollback_timeout          =   {{ .Values.rollbackTimeout | default "5_000" }}
        load_balancing_strategy   =   {{ .Values.loadBalancingStrategy | default "round_robin" | quote }}
        read_write_strategy       =   {{ .Values.readWriteStrategy | default "conservative" | quote }}
        {{- if .Values.readWriteSplit }}
        read_write_split          =   {{ .Values.readWriteSplit | quote }}
        {{- end }}
        {{- if .Values.tlsCertificate }}
        tls_certificate           =   {{ .Values.tlsCertificate | quote }}
        {{- end }}
        {{- if .Values.tlsPrivateKey }}
        tls_private_key           =   {{ .Values.tlsPrivateKey | quote }}
        {{- end }}
        tls_verify                =   {{ .Values.tlsVerify | default "prefer" | quote }}
        {{- if .Values.tlsServerCaCertificate }}
        tls_server_ca_certificate =   {{ .Values.tlsServerCaCertificate | quote }}
        {{- end}}
        shutdown_timeout          =   {{ .Values.shutdownTimeout | default "60_000" }}
        prepared_statements       =   {{ .Values.preparedStatements | default "extended" | quote }}
        {{- with .Values.queryParser }}
        query_parser              =   {{ . | quote }}
        {{- else }}
        {{- with .Values.queryParserEnabled }}
        query_parser_enabled      =   {{ . }}
        {{- end }}
        {{- end }}
        {{- if .Values.queryParserEngine }}
        query_parser_engine       =   {{ .Values.queryParserEngine | quote }}
        {{- end }}
        {{- if .Values.preparedStatementsLimit }}
        prepared_statements_limit =   {{ .Values.preparedStatementsLimit }}
        {{- end}}
        {{- if .Values.queryCacheLimit }}
        query_cache_limit         =   {{ .Values.queryCacheLimit }}
        {{- end }}
        passthrough_auth          =   {{ .Values.passthroughAuth | default "disabled" | quote }}
        connect_timeout           =   {{ .Values.connectTimeout | default "5_000" }}
        connect_attempts          =   {{ .Values.connectAttempts | default "1" }}
        connect_attempt_delay     =   {{ .Values.connectAttemptDelay | default "0" }}
        {{- if .Values.queryTimeout }}
        query_timeout             =   {{ .Values.queryTimeout }}
        {{- end }}
        {{- if .Values.clientIdleInTransactionTimeout }}
        client_idle_in_transaction_timeout =   {{ .Values.clientIdleInTransactionTimeout }}
        {{- end }}
        checkout_timeout          =   {{ .Values.checkoutTimeout | default "5_000" }}
        dry_run                   =   {{ .Values.dryRun | default "false" }}
        {{- if .Values.idleTimeout }}
        idle_timeout              =   {{ .Values.idleTimeout }}
        {{- end }}
        {{- if .Values.clientIdleTimeout }}
        client_idle_timeout       =   {{ .Values.clientIdleTimeout }}
        {{- end }}
        mirror_queue              =   {{ .Values.mirrorQueue | default "128" }}
        mirror_exposure           =   {{ .Values.mirrorExposure | default "1.0" }}
        auth_type                 =   {{ .Values.authType | default "scram" | quote }}
        cross_shard_disabled      =   {{ .Values.crossShardDisabled | default "false" }}
        {{- if .Values.dnsTtl }}
        dns_ttl                   =   {{ .Values.dnsTtl }}
        {{- end }}
        {{- if .Values.pubSubChannelSize }}
        pub_sub_channel_size      =   {{ .Values.pubSubChannelSize }}
        {{- end }}
        openmetrics_port = {{ .Values.openMetricsPort | default "9090" }}
        openmetrics_namespace = {{ .Values.openMetricsNamespace | default "pgdog_" | quote }}
        server_lifetime = {{ .Values.serverLifetime | default "86400000" }}
        log_connections = {{ .Values.logConnections | default "true" }}
        log_disconnections = {{ .Values.logDisconnections | default "true" }}
        {{- if .Values.connectionRecovery }}
        connection_recovery      =   {{ .Values.connectionRecovery | quote }}
        {{- end }}
        expanded_explain = {{ .Values.expandedExplain | default "false" }}
        {{- if hasKey .Values "lsnCheckDelay" }}
        lsn_check_delay           =   {{ .Values.lsnCheckDelay }}
        {{- end }}
        {{- if hasKey .Values "lsnCheckInterval" }}
        lsn_check_interval        =   {{ .Values.lsnCheckInterval }}
        {{- end }}

        {{- range .Values.databases }}
        [[databases]]
        name = {{ .name | quote }}
        host = {{ .host | quote }}
        port = {{ .port | default "5432" }}
        shard = {{ .shard | default "0" }}
        {{- if .databaseName }}
        database_name = {{ .databaseName | quote }}
        {{- end }}
        {{- if .user }}
        user = {{ .user | quote }}
        {{- end }}
        {{- if .password }}
        password = {{ .password | quote }}
        {{- end }}
        {{- if .poolSize }}
        pool_size = {{ .poolSize }}
        {{- end }}
        {{- if .minPoolSize }}
        min_pool_size = {{ .minPoolSize }}
        {{- end }}
        {{- if .poolerMode }}
        pooler_mode = {{ .poolerMode | quote }}
        {{- end }}
        {{- if .statementTimeout }}
        statement_timeout = {{ .statementTimeout }}
        {{- end }}
        {{- if .idleTimeout }}
        idle_timeout = {{ .idleTimeout }}
        {{- end }}
        {{- if .readOnly }}
        read_only = {{ .readOnly }}
        {{- end }}
        {{- if .role }}
        role = {{ .role | quote }}
        {{- end }}
        {{- if .serverLifetime }}
        server_lifetime = {{ .serverLifetime }}
        {{- end }}
        {{- end }}

        {{- range .Values.mirrors }}
        [[mirroring]]
        source_db = {{ .sourceDb | quote }}
        destination_db = {{ .destinationDb | quote }}
        {{- if .queueDepth }}
        queue_depth = {{ .queueDepth }}
        {{- end}}
        {{- if .exposure }}
        exposure = {{ .exposure }}
        {{- end }}
        {{- end }}

        {{- range .Values.shardedSchemas }}
        [[sharded_schemas]]
        database = {{ .database | quote }}
        {{- if .name }}
        name = {{ .name | quote }}
        {{- end }}
        shard = {{ .shard }}
        {{- end }}

        {{- range .Values.shardedTables }}
        [[sharded_tables]]
        database = {{ .database | quote }}
        {{- if .name }}
        name = {{ .name | quote }}
        {{- end }}
        column = {{ .column | quote }}
        data_type = {{ .dataType | quote }}
        {{- end }}

        {{- range .Values.shardedMappings }}
        [[sharded_mappings]]
        database = {{ .database | quote }}
        column = {{ .column | quote }}
        kind = {{ .kind | quote }}
        shard = {{ .shard }}
        {{- if .values }}
        values = {{ .values| toToml }}
        {{- end }}
        {{- if .start }}
        start = {{ .start }}
        {{- end }}
        {{- if .end }}
        end = {{ .end }}
        {{- end}}
        {{- end }}

        {{- range .Values.omnishardedTables }}
        [[omnisharded_tables]]
        database = {{ .database | quote }}
        {{- if .sticky }}
        sticky = {{ .sticky }}
        {{- end }}
        tables = {{ .tables | toToml }}
        {{- end }}

        {{- if or (hasKey .Values "tcpKeepalive") (hasKey .Values "tcpTime") (hasKey .Values "tcpInterval") (hasKey .Values "tcpRetries") }}
        [tcp]
        {{- if hasKey .Values "tcpKeepalives" }}
        keepalive = {{ .Values.tcpKeepalive }}
        {{- end }}
        {{- if hasKey .Values "tcpTime" }}
        time = {{ .Values.tcpTime }}
        {{- end }}
        {{- if hasKey .Values "tcpInterval" }}
        interval = {{ .Values.tcpInterval }}
        {{- end }}
        {{- if hasKey .Values "tcpRetries" }}
        retries = {{ .Values.tcpRetries }}
        {{- end }}
        {{- end }}

        {{- if or (hasKey .Values "memoryNetBuffer") (hasKey .Values "memoryMessageBuffer") (hasKey .Values "memoryStackSize") }}
        [memory]
        {{- if hasKey .Values "memoryNetBuffer" }}
        net_buffer = {{ .Values.memoryNetBuffer }}
        {{- end }}
        {{- if hasKey .Values "memoryMessageBuffer" }}
        message_buffer = {{ .Values.memoryMessageBuffer }}
        {{- end }}
        {{- if hasKey .Values "memoryStackSize" }}
        stack_size = {{ .Values.memoryStackSize }}
        {{- end }}
        {{- end }}

        {{- if .Values.adminPassword }}
        [admin]
        password = {{ .Values.adminPassword | quote }}
        {{- end }}

        {{- if and .Values.gateway.enabled .Values.gateway.connectFromPgdog }}
        [gateway]
        address = "{{ include "pgdog.fullname" . }}-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.gateway.port | default 8443 }}"
        {{- end }}

        {{- if .Values.queryStats.enabled }}
        [query_stats]
        enabled = {{ .Values.queryStats.enabled }}
        query_plan_threshold = {{ .Values.queryStats.queryPlanThreshold | default "1_000" }}
        query_plan_max_age = {{ .Values.queryStats.queryPlanMaxAge | default "15_000" }}
        query_plans_cache = {{ .Values.queryStats.queryPlansCache | default "100" }}
        max_errors = {{ .Values.queryStats.maxErrors | default "100" }}
        max_error_age = {{ .Values.queryStats.maxErrorAge | default "300_000" }}
        {{- end }}
