apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pgdog.fullname" . }}
  labels:
    {{- include "pgdog.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "pgdog.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pgdog.selectorLabels" . | nindent 8 }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "pgdog.serviceAccountName" . }}
      {{- end }}
      containers:
        - name: pgdog
          {{- if .Values.image.name }}
          image: {{ .Values.image.name }}
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/usr/local/bin/pgdog"]
          args:
            - "--config"
            - "/etc/pgdog/pgdog.toml"
            - "--users"
            - "/etc/secrets/pgdog/users.toml"
          ports:
            - name: pgdog
              containerPort: {{ .Values.port }}
            - name: metrics
              containerPort: {{ .Values.openMetricsPort }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /etc/pgdog
            - name: users
              mountPath: /etc/secrets/pgdog
        {{- if .Values.prometheusPort }}
        - name: prom
          image: prom/prometheus
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["prometheus"]
          args:
            - "--config.file=/etc/prom/prom.yml"
            - >-
              --web.listen-address=:{{
              .Values.prometheusPort | default "9091" }}
            - "--enable-feature=expand-external-labels"
            - "--web.enable-lifecycle"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: DEPLOYMENT_NAME
              value: {{ include "pgdog.fullname" . | quote }}
            {{- if .Values.clusterName }}
            - name: CLUSTER_NAME
              value: {{ .Values.clusterName | quote }}
            {{- end }}
          ports:
            - name: prom
              containerPort: {{ .Values.prometheusPort }}
          {{- if .Values.prometheusResources }}
          resources:
            {{- toYaml .Values.prometheusResources | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: prom
              mountPath: /etc/prom
        {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "pgdog.fullname" . }}
        - name: users
          secret:
            {{- if and .Values.externalSecrets.enabled
                       .Values.externalSecrets.secretName }}
            secretName: {{ .Values.externalSecrets.secretName }}
            {{- else }}
            secretName: {{ include "pgdog.fullname" . }}
            {{- end }}
        - name: prom
          configMap:
            name: {{ include "pgdog.fullname" . }}-prom
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.affinity .Values.podAntiAffinity.enabled }}
      affinity:
        {{- if .Values.affinity }}
        {{- toYaml .Values.affinity | nindent 8 }}
        {{- else if .Values.podAntiAffinity.enabled }}
        podAntiAffinity:
          {{- if eq .Values.podAntiAffinity.type "hard" }}
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                {{- include "pgdog.selectorLabels" . | nindent 16 }}
            topologyKey: kubernetes.io/hostname
          {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "pgdog.selectorLabels" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
          {{- end }}
        {{- end }}
      {{- end }}
