apiVersion: v1
kind: Service
metadata:
  name: {{ include "pgdog.fullname" . }}
  {{- if or .Values.service.annotations .Values.service.aws.enabled }}
  annotations:
    {{- if .Values.service.aws.enabled }}
    service.beta.kubernetes.io/aws-load-balancer-scheme: {{ .Values.service.aws.scheme | quote }}
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
    service.beta.kubernetes.io/aws-load-balancer-type: "external"
    service.beta.kubernetes.io/aws-load-balancer-manage-backend-security-group-rules: "true"
    service.beta.kubernetes.io/aws-load-balancer-listener-attributes.TCP-{{ .Values.port }}: tcp.idle_timeout.seconds=1800
      {{- if .Values.healthcheckPort }}
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: {{ .Values.healthcheckPort | quote }}
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: /health
      {{- end }}
    {{- end }}
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
  labels:
    {{- include "pgdog.labels" . | nindent 4 }}
spec:
  {{- if .Values.service.aws.enabled }}
  type: LoadBalancer
  loadBalancerClass: service.k8s.aws/nlb
  {{- else }}
  type: {{ .Values.service.type }}
  {{- end }}
  selector:
    {{- include "pgdog.selectorLabels" . | nindent 4 }}
  {{- if .Values.service.trafficDistribution }}
  trafficDistribution: {{ .Values.service.trafficDistribution | quote }}
  {{- end }}
  ports:
    - name: pgdog
      protocol: TCP
      port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
    - name: openmetrics
      protocol: TCP
      port: {{ .Values.openMetricsPort }}
      targetPort: {{ .Values.openMetricsPort }}
    {{- if .Values.healthcheckPort }}
    - name: healthcheck
      protocol: TCP
      port: {{ .Values.healthcheckPort }}
      targetPort: {{ .Values.healthcheckPort }}
    {{- end }}
