name: Package Helm chart

on:
  release:
    types: [published]

env:
  AWS_REGION: us-west-2

jobs:
  release:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: 'latest'

      - name: Run deploy script
        env:
          AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.AWS_REGION }}
        run: |
          chmod +x dev/deploy.sh
          ./dev/deploy.sh
